.Box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
}
.Container {
    display: flex;
    flex-direction: column;
    position: relative;

}
.GenreImg {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}
.GenreBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.GenreBox p, h3 {
    z-index: 1;
    position: absolute;
    color: snow;
    font-size: 50px;
    right: 50rem;
}
.GenreBox p {
    top: 150px;
}
.GenreBox h3 {
    top: 200px;
}
.Buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}