.Box{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
}
.Box img{
    width: 100%;
    height: 100%;
    display: block;
    transition: filter 0.3s ease;
}
.Box span {
    position: absolute;
    bottom: 60px;
    padding: 0;
    font-size: 25px;
    text-decoration: none;
}
.Box:hover img{
    filter: blur(5px);
}
.Box a {
    text-decoration: none;
    color: snow;
}
.Box a:hover {
    transition: color 0.3s ease;
    color: red;
}